In [2]:
import pandas as pd

In [6]:
df

,Partida,Capítulo,Programa,Subtítulo,Item,Asignación,Denominación,Monto Pesos,Monto Dólar
0,1,1,1,8,0,0,OTROS INGRESOS CORRIENTES,307516,0
1,1,1,1,8,1,0,Recuperaciones y Reembolsos por Licencias Médicas,104964,0
2,1,1,1,8,99,0,Otros,202552,0
3,1,1,1,9,0,0,APORTE FISCAL,20102967,0
4,1,1,1,9,1,0,Libre,20102967,0
5,1,1,1,10,0,0,VENTA DE ACTIVOS NO FINANCIEROS,25700,0
6,1,1,1,10,3,0,Vehículos,25700,0
7,1,1,1,15,0,0,SALDO INICIAL DE CAJA,1010,0
8,1,1,1,21,0,0,GASTOS EN PERSONAL,9370814,0
9,1,1,1,22,0,0,BIENES Y SERVICIOS DE CONSUMO,6498767,0
10,1,1,1,24,0,0,TRANSFERENCIAS CORRIENTES,4222915,0
11,1,1,1,24,3,0,A Otras Entidades Públicas,4222915,0
12,1,1,1,24,3,701,Apoyo Actividades Presidenciales,4222915,0
13,1,1,1,29,0,0,ADQUISICIÓN DE ACTIVOS NO FINANCIEROS,343687,0
14,1,1,1,29,5,0,Máquinas y Equipos,75110,0
15,1,1,1,29,6,0,Equipos Informáticos,33485,0
16,1,1,1,29,7,0,Programas Informáticos,235092,0
17,1,1,1,34,0,0,SERVICIO DE LA DEUDA,10,0
18,1,1,1,34,7,0,Deuda Flotante,10,0
19,1,1,1,35,0,0,SALDO FINAL DE CAJA,1000,0

In [16]:
df = pd.read_csv('nacional/articles-288938_doc_csv.csv', sep=';')
df = df.sort_values(by=['Partida','Capítulo','Programa','Subtítulo','Item','Asignación'])
#df = df[(df['Partida']==1)&(df['Capítulo']==1)&(df['Programa']==1)]
PCP = df[['Partida','Capítulo','Programa']].drop_duplicates()
df_total = pd.DataFrame()
for i, row in PCP.iterrows():
    df_temp = df[(df['Partida']==row['Partida'])&(df['Capítulo']==row['Capítulo'])&(df['Programa']==row['Programa'])]
    subtitulos = df_temp.Subtítulo.unique()
    df_prog = pd.DataFrame()
    for subt in subtitulos:
        df_subt = df_temp[df_temp['Subtítulo']==subt]
        if len(df_subt) > 1:
            df_subt = df_subt[df_subt['Item']!=0]
            items = df_subt.Item.unique()
            df_item_to = pd.DataFrame()
            for item in items:
                df_item = df_subt[df_subt['Item']==item]
                if len(df_item) > 1:
                    df_item = df_item[df_item['Asignación']!=0]
                    
                df_item_to = pd.concat([df_item, df_item_to], axis=0)

            df_prog = pd.concat([df_item_to, df_prog], axis=0)
        else:
            df_prog = pd.concat([df_subt, df_prog], axis=0)

    df_total = pd.concat([df_prog, df_total], axis=0)

df_total = df_total.sort_values(by=['Partida','Capítulo','Programa','Subtítulo','Item','Asignación'])
df_total

,Partida,Capítulo,Programa,Subtítulo,Item,Asignación,Denominación,Monto Pesos,Monto Dólar
1,1,1,1,8,1,0,Recuperaciones y Reembolsos por Licencias Médicas,104964,0
2,1,1,1,8,99,0,Otros,202552,0
4,1,1,1,9,1,0,Libre,20102967,0
6,1,1,1,10,3,0,Vehículos,25700,0
7,1,1,1,15,0,0,SALDO INICIAL DE CAJA,1010,0
...,...,...,...,...,...,...,...,...,...
10490,50,1,12,13,2,120,De Operaciones Complementarias,10,936000
10491,50,1,12,22,0,0,BIENES Y SERVICIOS DE CONSUMO,10,10
10494,50,1,12,24,2,100,"A Ingresos Generales de la Nación, Fondo Artíc...",10,10
10496,50,1,12,30,1,0,Compra de Títulos y Valores,10,936000
10497,50,1,12,30,99,0,Otros Activos Financieros,10,10